<!DOCTYPE html>
<html>
  <head>
    <title>FizzBuzz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <p><%= link_to "Home", values_new_path %> | <%= link_to "Log", values_index_path %></p>

    <% flash.each do |message_type, message| %>
      <div class="aleart-<%= message_type %>"><%= message %></div>
    <% end %>

    <%= yield %>

    <p>=========================================</p>
    <p> debug data</p>
    <%= debug(params) if Rails.env.development? %>
    <p>=========================================</p>
  </body>
</html>
